.SwordGame {
    background-color: black;
    margin-top:5vh;
    margin-bottom:5vh;
    width: 60em;
    height: 45em;
}

.Tile {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.Map {
    width: 40em;
    padding-top: 5vh;
}